<template class="list-group-item">
  <template if.bind="comment.created">
    <div class="d-flex flex-row"
      style="justify-content: space-between">
      <div>
        <ux-button type="icon"
          click.delegate="upvote()">
          <ux-icon icon="thumb_up"
            css="${vote === 1 ? 'color: red;' : ''}"></ux-icon>
        </ux-button>
        <ux-button type="icon"
          click.delegate="downvote()">
          <ux-icon icon="thumb_down"
            css="${vote === -1 ? 'color: red;' : ''}"></ux-icon>
        </ux-button>
      </div>
      <div innerhtml.bind="comment.htmlBody | unescapeHtml"></div>
      <div>
        <ux-button type="raised"
          size="small"
          click.delegate="toggleVisibility()">${visible ? 'Hide' : 'Show'}</ux-button>
      </div>
    </div>
    <small>${comment.created | date | rt}</small>
    <comment-list comments.bind="comment.replies"
      show.bind="visible"></comment-list>
  </template>
  <template if.bind="!comment.created">
    <ux-button type="raised">Load more comments</ux-button>
  </template>
</template>
