<template>
  <div class="card my-3">
    <div class="mdc-card__horizontal-block">
      <div class="card-body">
        <h4 class="card-title">
          <post-link post.bind="post"></post-link>
        </h4>
        <p class="card-text">
          <a route-href="route: account; params.one-time: { name: post.author }">${post.author}</a>
          • ${post.score} pts • ${post.created | date | rt} • ${post.subreddit} • ${post.domain}
        </p>
        <ux-button type="icon"
          click.delegate="upvote()">
          <ux-icon icon="thumb_up"
            css="${vote === 1 ? 'color: red;' : ''}"></ux-icon>
        </ux-button>
        <ux-button type="icon"
          click.delegate="downvote()">
          <ux-icon icon="thumb_down"
            css="${vote === -1 ? 'color: red;' : ''}"></ux-icon>
        </ux-button>
        <a class="card-link"
          href.bind="post.permalink">${post.commentsCount} Comments</a>
      </div>
    </div>
  </div>
</template>
