<template>
  <h1>${name}</h1>

  <template repeat.for="item of content">
    <post-compact if.one-time="item.isSelf !== undefined"
      post.one-time="item"></post-compact>
    <comment-list-item if.one-time="item.isSelf === undefined"
      comment.one-time="item"></comment-list-item>
  </template>
</template>
