.navigating {
  cursor: wait;
}

.navigating * {
  cursor: wait;
}

header {
  background-color: var(--ux-design--primary);
}

.navbar-dark .navbar-text {
  color: white;
}

.navbar-text ux-icon {
  vertical-align: middle;
}
