<template>
  <div>
    <button type="button"
      click.delegate="submit()">Login with reddit!</button>
  </div>
  <div>
    <ul>
      <li repeat.for="account of authService.accounts">
        ${account.account.name ? account.account.name : 'Anon'} ${account.active ? 'Active': ''}
      </li>
    </ul>
  </div>
</template>
