<template>
  <div class="container">
    <header class="navbar navbar-dark">
      <span class="navbar-brand">
        ${router.currentInstruction.config.navModel.title || router.title}
      </span>
      <a route-href="route: nav;"
        class="navbar-text"><ux-icon icon="menu"></ux-icon>Navigate</a>
    </header>
    <div class="row">
      <div class="col">
        <slot name="toolbar"></slot>
        <div class="dropdown"
          show.bind="showTimeSort">
          <button type="button"
            class="btn btn-secondary dropdown-toggle"
            data-toggle="dropdown"
            bs-dropdown>arrow_drop_down</button>
          <div class="dropdown-menu"
            role="menu"
            aria-hidden="true">
            <a class="dropdown-item"
              role="menuitem"
              tabindex="0"
              repeat.for="time of ListingTime | objectKeys & oneTime">
              ${time & oneTime}
            </a>
          </div>
        </div>
        <slot></slot>
      </div>
    </div>
    <hr>
  </div>
  <footer class="container">
    <p>
      <a route-href="license">Licensing Information</a>
    </p>
  </footer>
</template>
