<template>
  <ul class="nav nav-pills my-3"
    slot="toolbar">
    <li class="nav-item"
      repeat.for="route of router.navigation">
      <a route-href="route.bind: route.config.name"
        class="nav-link ${route.isActive ? 'active' : ''}">${route.title}</a>
    </li>
  </ul>
  <router-view></router-view>
</template>
