<template>

  <ul class="nav flex-column">
    <li repeat.for="nav of router.navigation">
      <a class="nav-link ${nav.isActive ? 'active' : ''}"
        route-href="route.bind: nav.config.name">
        <ux-icon icon.bind="nav.settings.icon"
          aria-hidden="true"></ux-icon>${nav.title}
      </a>
    </li>
    <!-- <li role="separator" class="mdc-list-divider" show.bind="subreddits"></li> -->
    <li repeat.for="subreddit of subreddits">
      <a class="nav-link ${false ? 'active' : ''}"
        href.bind="subreddit.url">
        <ux-icon icon.bind="nav.settings.icon"
          aria-hidden="true"></ux-icon>${subreddit.displayName}
      </a>
    </li>
  </ul>

</template>
